* { /* universal */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Calibri';
}

body {
  height: 100%;
  background-color: #DCF2F1;
}

hr {
  margin-top: 10px;
  margin-bottom: 5px;
}

.hr-bottom {
  margin-top: 5px;
  margin-bottom: 10px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid;
  border-bottom: 1px solid;
  padding: 10px;
  background-color: #0F1035;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

footer {
  padding: 10px;
  border-top: 1px solid;
  border-bottom: 1px solid;
  background-color: #0F1035;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  color: #7FC7D9;
}

.head {
  order: 2;
  padding: 5px;
  padding-right: 20px;
  padding-left: 20px;
  margin-left: 15px;  
  font-weight: bold;
  font-size: 20px;
  color: #7FC7D9;
}

main {
  min-height: 630px;
  display: flex;
  justify-content: center;
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.left {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 5px;
  border: solid 1px #DCF2F1;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.center {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 5px;
  border: solid 1px #DCF2F1;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.right {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin: 5px;
  border: solid 1px #DCF2F1;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card {
  border: 1px solid #7FC7D9;
  margin-bottom: 5px;
  min-height: 200px;
  border-radius: 5px; 
  padding: 10px;
  padding-top: 10px;
  background-color: #DCF2F1;
  color: #0F1035;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card-body {
  min-height: 500px;
}

table {
  font-size: 14px;
}

th {
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: left;
  color: #DCF2F1;
  background-color: #0F1035;
  border-radius: 2px;
}

td {
  vertical-align: top;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 3px;
}

.row {
  background-color: #dddddd; 
}

.views {
  text-align: right;
}

.modified {
  text-align: right;
}

/* Warna default */
progress {
  width: 100%;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 2px;
  overflow: hidden;
}

progress::-webkit-progress-bar {
  background-color: #e0e0e0;
}

progress::-webkit-progress-value {
  background-color: #7FC7D9;
}

progress::-moz-progress-bar {
  background-color: #7FC7D9;
}

/* Warna saat penuh */
progress.full::-webkit-progress-value {
  background-color: #0F1035;
}

progress.full::-moz-progress-bar {
  background-color: #0F1035;
}

@media screen and (max-width: 1000px) {
  main {
    flex-direction: column;
  }

  .left,
  .center,
  .right {
    width: 100%;
    min-height: 10px;
    flex-direction: column;
  }
  .right {
    order: 2;
  }

  .left {
    order: 0;
  }

  .center {
    order: 1;
  }

}